@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400&family=Orbitron:wght@400;500;600;700&display=swap");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ecf8f6;
  background: #020405;
}

body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  background: #020405;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
